{
  "rules": {
    "import/no-anonymous-default-export": 0,
    "no-console": 0,
    "no-debugger": 1,
    "max-len": ["error", {"code": 120}],
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 1,
    "react/no-unused-state": 1,
    "no-param-reassign": ["error", { "props": false }],
    "react/sort-comp": [2, { "order": ["instance-variables", "lifecycle", "everything-else", "getters", "'/^on.+$/'", "render"] }
    ]
  },
  "extends": [
    "airbnb",
    "react-app",
    "react-app/jest"
  ]
}
