{
  "ignorePatterns": ["**/src/wasm"],
  "rules": {
    "import/no-anonymous-default-export": 0,
    "no-console": 0,
    "no-debugger": 1,
    "max-len": ["error", {"code": 120}],
    "no-param-reassign": ["error", { "props": false }],
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"]
      }
    ],
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 1,
    "react/no-unused-state": 1,
    "react-hooks/exhaustive-deps": 2
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "extends": [
    "airbnb",
    "react-app",
    "react-app/jest"
  ]
}
