/node_modules
.idea
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/build

src/wasm/tree/target/*
src/wasm/tree/**/*.rs.bk
src/wasm/tree/Cargo.lock
src/wasm/tree/bin/
src/wasm/tree/pkg/
src/wasm/tree/wasm-pack.log
