html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Archivo, -apple-system, system-ui, sans-serif;
    background: linear-gradient(180deg, #fff3f3, #f3f3ff, #f8fff3, #fff3f3, #f7fdff, #fff3f3, #f7f3f9, #f4f3f9, #fff3f3);
    padding: 0 0 6em;
    color: #353535;
    scroll-behavior: smooth;
    font-size: 1.5rem;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(15px);
    padding: 10px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.15s ease;
}

header nav {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    margin: 0 4px;
    text-decoration: none;
    font-weight: 700;
    color: #353535;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.15s ease;
}

header a:hover {
    background-color: rgba(53, 53, 53, 0.07);
}

header.scrolled {
    background-color: rgba(255, 255, 255, 0.38);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: Archivo Black, -apple-system, system-ui, sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-block-start: 0;
    margin-block-end: 0;
}

section {
    position: relative;
    max-width: 1500px;
    width: 100%;
}

.hero {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3d3a3c;
}

.cta {
    background: #635bff;
    color: white;
    padding: 1.5rem 3.5rem;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    width: 372px;
    max-width: 100%;
}

/* size */
.w-100 {
    width: 100%;
}

.max-width-30p {
    max-width: 30%;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-750 {
    max-width: 750px;
}

.max-width-900 {
    max-width: 900px;
}

.max-width-1050 {
    max-width: 1050px;
}

.max-width-1200 {
    max-width: 1200px;
}

/* borders */

.b-radius {
    border-radius: 16px;
}

/* margins */

.mt-05 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1.25rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-10 {
    margin-top: 10rem;
}

.ml-1 {
    margin-left: 0.5rem;
}

.fw-0 {
    font-weight: 400;
}

/* flex */

.display-inline-flex {
    display: inline-flex;
}

.display-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.text-justify {
    text-align: justify;
}

.color-purple {
    color: #917cf8;
}

.pricing-container {
    border-radius: 20px;
    overflow: hidden;
    background: #fff
}

.pricing-container h3 {
    color: #635bff;
}

.list-circle {
    list-style: circle;
    padding-inline-start: 18px;
}

.list-circle li {
    padding-left: 0.5rem;
}

.pricing-card {
    width: 33%;
    padding: 50px;
    border-left: 1px solid #e4e4e4;
    box-shadow: rgba(227, 223, 238, 0.5) 3px 3px 1px -2px, rgba(227, 223, 238, 0.05) 2px 2px 2px 0px, rgba(227, 223, 238, 0.06) 1px 1px 5px 0px;
}

.pricing-card:first-child {
    border-left: none;
}

#wf {
    margin-top: -110px;
    background: linear-gradient(50deg, transparent 50%, #fdf6f3);
    /*linear-gradient(45deg, transparent 68%, #fce9da)*/
    padding: 30px;
}

#cr_wf {
    margin-top: -20px;
    padding: 180px 20px 100px;
    background: linear-gradient(180deg, #e8f4eb, transparent);
}

#cr_wf img {
    border-radius: 10px;
    border: 10px solid #e1e1e1;
}


#cross {
    margin-top: -120px;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption {
    margin-top: 1rem;
    font-size: 20px;
    color: #9a929b;
}

.info {
    font-size: 18px;
    text-align: center;
    color: #9a929b;
    font-weight: 400;
}

ol, ul {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    text-decoration: none;
    list-style: none;
}

li {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.privacy {
    width: 100%;
}

.privacy h1, .privacy h2, .privacy h3, .privacy h4, .privacy h5, .privacy h6 {
     font-weight: 400;
     font-family: Archivo Black, -apple-system, system-ui, sans-serif;
     margin-top: 1em;
}

.no-bg {
    background: none;
}

.text-align-center {
    text-align: center;
}

.text-align-end {
    text-align: end;
}


@media only screen and (max-width: 1120px) {
    #wf  {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 1250px) {
    #cross  {
        margin-top: 10rem;
    }

    .align-start-mobile {
        align-items: start;
    }
}


@media only screen and (max-width: 870px) {
    body {
        padding: 0 0.5em 3em;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
        text-align: start;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p, li, a {
        font-size: 1.25rem;
    }

    #wf {
        padding: 20px;
    }

    #cross  {
        margin-top: 2rem;
    }

    .cta {
        font-size: 1rem;
        padding: 1rem 2rem;
        max-width: 220px;
    }

    .hero {
        padding-top: 2em;
    }

    .align-start-mobile {
        align-items: start;
    }

    .b-radius {
        border-radius: 10px;
    }

    .mt-xs-1 {
        margin-top: 1rem;
    }

    .mt-xs-2 {
        margin-top: 2rem;
    }

    .mt-xs-3 {
        margin-top: 3rem;
    }

    .mt-xs-4 {
        margin-top: 4rem;
    }

    .text-xs-left {
        text-align: left;
    }

    .caption {
        padding: 0 0;
        font-size: 12px;
    }

    .pricing-container {
        display: block;
    }

    .pricing-card {
        padding: 25px;
        width: auto;
        border-left: none;
        border-bottom: 1px solid #e4e4e4;
    }

    .pricing-card:last-child {
        border-bottom: none;
    }

    #contact {
        display: block;
    }
}
