::-webkit-input-placeholder {
    font-weight: lighter;
}
::-moz-placeholder {
    font-weight: lighter;
}
::-ms-input-placeholder {
    font-weight: lighter;
}

html, body, #root {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#root {
    padding: 8px;
}
