::-webkit-input-placeholder {
    font-weight: lighter;
}
::-moz-placeholder {
    font-weight: lighter;
}
::-ms-input-placeholder {
    font-weight: lighter;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 1000px #363940 inset;
    -webkit-text-fill-color: #ff6c6c;
    border-radius: 0!important;
}

html, body, #root {
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#root {
    padding: 7px 6px;
}

.h-1 {
    height: 100%;
}
