/*input:-webkit-autofill,*/
/*input:-webkit-autofill:hover,*/
/*input:-webkit-autofill:focus,*/
/*input:-webkit-autofill:active{*/
/*    -webkit-box-shadow: 0 0 0 1000px #2c2f35 inset;*/
/*    -webkit-text-fill-color: #ff6c6c;*/
/*    border-radius: 0!important;*/
/*}*/
/*::selection {*/
/*    background: #687eac;*/
/*    color: #fff;*/
/*    -webkit-text-fill-color: #fff;*/
/*}*/

html, body, #root {
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

input {
    border:0;
    outline:0;
}

input:focus {
    outline:none!important;
}

#root {
    background: black;
}

.ProseMirror {
    outline: none;
}

/* This gives the remote user caret. The colors are automatically overwritten*/
.ProseMirror-yjs-cursor {
    position: relative;
    word-break: normal;
    pointer-events: none;
    background-color: #cdd4ff!important;
}
/* This renders the username above the caret */
.ProseMirror-yjs-cursor > div {
    position: absolute;
    background: #cdd4ff!important;
    color: #111;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: center;
    padding: 3px 6px;
    border-radius: 4px;
    left: -1em;
    top: -3em;
}

.ProseMirror-yjs-cursor > div:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #cdd4ff transparent;
    border-width: 9px 6px 0;
    bottom: -9px;
    left: 30%;
    margin-left: -6px;
}

