/*input:-webkit-autofill,*/
/*input:-webkit-autofill:hover,*/
/*input:-webkit-autofill:focus,*/
/*input:-webkit-autofill:active{*/
/*    -webkit-box-shadow: 0 0 0 1000px #2c2f35 inset;*/
/*    -webkit-text-fill-color: #ff6c6c;*/
/*    border-radius: 0!important;*/
/*}*/
/*::selection {*/
/*    background: #687eac;*/
/*    color: #fff;*/
/*    -webkit-text-fill-color: #fff;*/
/*}*/

html, body, #root {
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

input {
    border:0;
    outline:0;
}

input:focus {
    outline:none!important;
}

#root {
    background: black;
}

.ProseMirror {
    outline: none;
}

.ProseMirrorEditor:before {
    content: attr(data-placeholder);
    float: left;
    color: #8d9197;  /* Placeholder text color */
    pointer-events: none;
    height: 0;
}
