/* roboto-cyrillic-ext-300-normal*/
@font-face {
    font-family: 'Cherry Bomb One';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url('./CherryBombOne-Regular.woff2') format('woff2');
}
